:root {
  --Black: #1a1f24;
  --White: #eaf1f5;
  --Dark-Grey: #546172;
  --Grey: #95a5ba;
  --Light-Blue: #a7ceed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

header {
  background-color: var(--Black);
  padding: 1em;
}

header h1 {
  color: var(--White);
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30em;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 60em;
}

.card {
  height: 100%;
  width: 100%;
  max-width: 15em;
}

.card-img {
  border-radius: 5px;
  height: auto;
  width: 100%;
}

.card-img.center {
  height: 15em;
}

.card h2 {
  margin: 0.5em 0;
}

/* Recipes Pages */
.article-recipe {
  flex-direction: column;
  max-width: 70em;
}

.article-recipe .recipe-header {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: unset;
  padding: 1em;
  width: 100%;
}

.recipe-img {
  flex: 1;
}

.recipe-img img {
  width: 100%;
}

.description {
  flex: 2;
}

.description h1 {
  color: var(--Black);
  font-size: 2rem;
  text-align: start;
}

.recipe-footer {
  display: flex;
  gap: 1em;
  padding: 1em;
}

.recipe-footer h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.ingredients {
  flex: 1;
}

.steps {
  flex: 2;
}

.recipe-img,
.description,
.ingredients,
.steps {
  padding: 0.5em;
}
